* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
/* old blue #a7e0f3 */
:root {
    --black: #363636;
    --blue: #dbf8ff;
}

header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 50px;
    margin-left: 0;
}

header h1 a {
    text-decoration: none;
    color: var(--black);
    background-color: var(--blue);
    padding: 10px 10px 10px 50px;
    font-size: xxx-large;
}
header ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
    color: var(--blue);
}

header ul a {
    text-decoration: none;
    color: var(--blue);
}

header ul a li {
    margin: 15px;
    border-bottom: 2px solid var(--blue);
    font-size: x-large;
}

.hero {
    display: flex;
    background-image: url(../images/striped-bg-2.jpg);
    background-size: cover;
    justify-content: flex-end;
}

.hero h2 {
    font-size: xx-large;
    margin-top: 10%;
    color: var(--black);
    background-color: var(--blue);
    padding: 10px;
    margin-right:50px;

}

.sections {
    background-color: #dbf8ff;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
}

/* style for headers for each section */
.big-title {
    font-size: xxx-large;
    color: var(--black);
    flex: 1;
}

.big-title h3 {
    float: right;
    margin-right: 5%;
}

/* content box with left side border */
.border-left {
    border-left: 3px solid var(--black);
    margin: 20px 0;
    flex: 3;
}

.border-left p {
    margin: 5% 1%;
}

/* contatiners for links to projects */
.border-left div, .border-left div a {
    display: flex;
    justify-content: center;
}

.border-left .projects a img {
    border: 3px solid blue;
    margin: 10px;
    opacity: 0.5;
}
.border-left .projects a img:hover {
    opacity: 1;
}

.border-left nav {
    display: flex;
    justify-content: space-evenly;
}

.border-left nav ul {
    display: flex;
    list-style: none;
    flex: 3;
}

.border-left nav ul a {
    text-decoration: none;
}

.border-left nav ul li {
    font-size: xx-large;
    margin-right: 15px;
    border-bottom: 4px solid var(--black);
    color: var(--black);
    
}

.container {
    position: relative;
}

.img-title {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#big-img {
    width: 65%;
    border: 3px solid blue;
    opacity: 0.5;
}

#big-img:hover {
    opacity: 1;
}


@media screen and (max-width:1400px) {
    .border-left div, .border-left div a {
        flex-direction: column;
    }

    .border-left .projects div a img{
        margin-left: 20px;
    }

    .border-left .projects {
        width: 100%;
    }

    #big-img {
       width: 100%;
       margin: 20px;
    }

    .border-left nav ul {
        flex-wrap: wrap;
    }

    .border-left nav ul li {
        font-size: x-large;
        margin-bottom: 15px;
    }

    header nav ul {
        flex-wrap: wrap;
    }

    header nav ul li {
        font-size: x-large;
        margin-bottom: 15px;
    }

}

